/* Style for the main container */
.container {
    display: flex;
    height: 100vh; /* Adjust as needed */
  }
  
  /* Style for the left section (form and result) */
  .left-section {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc; /* Vertical divider */
    display: flex;
    flex-direction: column;
    
  }
  
  /* Style for the form and result section */
  .form-result-section {
    margin-bottom: 20px;

  }
  
  /* Style for the right section (rank page) */
  .right-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
  }
  
  /* Styles for the rank page sections */
  .rank-page {
    display: flex;
    width: 100%;
  }
  
  .ST,
  .MT {
    flex: 1;
    padding: 20px;
    text-align: center; /* Center content horizontally */
  }
  